/* styles/Home.css */

.container {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  background-size: cover;
  background-position: center;
  padding: 2rem;
}

.content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}

.book {
  width: 100%;
  max-width: 15rem;
  height: 5rem;
  border: .1rem solid black;
  background: white;
  margin: auto;
  margin-top: 1rem;
  padding: .4rem;
  font-size: 1.5rem;
}

.about_name {
  width: 100%;
  max-width: 15rem;
  height: 2rem;
  border-radius: .5rem;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 2rem auto;
  padding: .5rem;
  font-size: 1.5rem;
}

.about_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 800px;
}

.about_image img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

.about_content {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem 0;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.review_container {
  width: 100%;
  max-width: 50rem;
  height: auto;
  border: .1rem solid black;
  margin: auto;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review_img img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
  margin: 3rem auto .5rem;
}

.review_btn {
  margin: 1rem 2rem 0 7rem;
  background-color: blue;
  color: white;
  border: none;
  padding: .8rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn2 {
  padding: .8rem 1.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  background-color: #ccc;
  color: #333;
}
